<?xml version="1.0"?>
<config>
	<modules>
		<RevotechApi_WebserviceCrendential>
			<version>1.0.0</version>
		</RevotechApi_WebserviceCrendential>
	</modules>
	<global>
		<helpers>
			<my_module_prefix>
				<class>RevotechApi_WebserviceCrendential_Helper</class>
			</my_module_prefix>
		</helpers>
		<models>
			<my_module_prefix>
				<class>RevotechApi_WebserviceCrendential_Model</class>
			</my_module_prefix>
		</models>
	</global>
</config>
